<p>signup works!</p>
<div>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <p>
      Username <input type="text" formControlName="username" id="username">
      <span *ngIf="signUpForm.get('username')?.invalid && (signUpForm.get('username')?.dirty || signUpForm.get('username')?.touched)">
        <span *ngIf="signUpForm.get('username')?.errors?.['required']">
          Username is required
        </span>
      </span>
    </p>
    <p>
      Email <input type="text" formControlName="email">
      <span *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
        <span *ngIf="signUpForm.get('email')?.errors?.['required']">
          Email is required
        </span>
      </span>
    </p>
    <p>
      Password <input type="password" formControlName="password">
      <span *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">
        <span *ngIf="signUpForm.get('password')?.errors?.['required']">
          Password is required
        </span>
      </span>
    </p>
    <p>
      <button type="submit">Submit</button>
    </p>
  </form>
</div>
